* {
    margin: 0;
    padding: 0;
    border: 0;
}

ul {
    list-style-type: none;
}

.card-container {
    width: 85%;
    margin: 0 auto;
}


/*Banner start*/


.banner {
    width: 100%;
    height: 400px;
    background-color: #efefef;
    font-family: 'Rock Salt', cursive;
/*    font-family: 'Nunito', sans-serif;*/
    margin-bottom: 60px;
}

.banner-title {
    text-align: center;
    padding-top: 75px;

}

.banner-title h1 {
    font-size: 2em;
}

.banner-title h3 {
    font-size: 1em;
    padding-top: 15px;
}

.banner-title span {
    color: #FF3B3F;
    font-size: 1.3em;
    letter-spacing: 5px;
    font-weight: bolder;
}

/*Start Nav Section*/

.main-nav {
    background-color: #A9A9A9;
    width: 100%;
    height: 60px;
/*    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    
}


a {
    text-decoration: none;
    
}

.main-nav a {
    color: black;
}

.main-nav h3, .main-nav ul li {
    float: left;
    margin-top: 20px;
}

.main-nav h3 {
    padding-left: 15px;
}

.main-nav ul {
    float: right;
}

.main-nav ul li {
    list-style: none;
    padding-right: 15px;
}




/*Card section*/
.front h2 {
            text-align: center;
            padding-top: 20px;
        }
.back p {
            padding: 50px 10px 50px 10px;
            text-align: center;
        }



/*About Card front*/
.about-img img {
    width: 100%;
    height: 100%;
    
}

.about-img {
    width: 90%;
    height: 80%;
    margin: 0 auto;
    margin-top: 20px
}

.flip {
            width: 85%;
            height: 450px;
            font-size: .6em;
            font-family: 'Rock Salt', cursive;
            
        }
        
.flip > .front{
    position:absolute;
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 85%;
    height: 400px;
    border-radius: 7px;
    backface-visibility: hidden;
    transition: transform .5s linear 0s;

}

 .flip > .back{
    position:absolute;
    transform: perspective(600px) rotateY(180deg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 85%;
    height: 400px;
    border-radius: 7px;
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
}

.flip:hover > .front{
    transform: perspective(600px) rotateY( -180deg);
}

.flip:hover > .back{
    transform: perspective(600px) rotateY( 0deg);
}

.port-card {
    width: 100px;
    height: 100px;
    background: blue;
    float: left;
    margin: 12px;
}

/*Work Card*/



/*End Work Section*/

/*Contact me*/

.contact {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    height: 300px;
    border-radius: 7px;
    margin-bottom: 60px;
}

/*End Contact me*/

/*Footer*/

footer {
    padding-top: 10px;
    background-color: #A9A9A9;
    width: 100%;
    height: 60px;
    text-align: center;
}

footer p{
    padding-top:7px;
    font-size: .8em;
}

.social-icons img {
    width: 20px;
}



@media (min-width: 1080px) {
  
    
    .banner {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 60px;
    }
    .card-container {
       
        width: 1080px;
        margin: 0 auto;
    }
    

    
    
    .flip {
            width: 85%;
            height: 650px;
            
            font-family: 'Rock Salt', cursive;
            
        }
        
.flip > .front{
    position:absolute;
    transform: perspective(600px) rotateX(0deg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 1080px;
    height: 600px;
    border-radius: 7px;
    backface-visibility: hidden;
    transition: transform .5s linear 0s;

}

 .flip > .back{
    position:absolute;
    transform: perspective(600px) rotateX(180deg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width:1080px;
    height: 600px;
    border-radius: 7px;
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
}

.flip:hover > .front{
    transform: perspective(600px) rotateX( -180deg);
}

.flip:hover > .back{
    transform: perspective(600px) rotateX(0deg);
}

.port-card {
    width: 100px;
    height: 100px;
    background: blue;
    float: left;
    margin: 12px;
}











